@import url("colorPallete.css");

@media screen and (min-width: 1px) {
  .card-body {
    width: 330px;
    height: 110px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: var(--nb1);
    border-radius: 5px;
  }
}
@media screen and (min-width: 481px) {
  .card-body {
    width: 330px;
    height: 110px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: var(--nb1);
    border-radius: 5px;
  }
}
.card-img {
  float: left;
  vertical-align: left;
  object-fit: cover;
  object-position: center center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}
.music-img {
  width: 205px;
  height: auto;
}
.music-img:hover {
  transition: 0.2s;
  cursor: pointer;
}
.file-name {
  font-weight: bold;
  color: var(--nw1);
  margin-bottom: 3px;
}
.file-author {
  font-size: 12px;
  color: var(--nw2);
  margin-bottom: 10px;
}
.texts {
  float: left;
  margin-right: 104px;
}
.pic {
  text-align: center;
}
.play {
  font-size: 40px;
  color: #e0e0e000;
  display: block;
  position: absolute;
  margin: auto;
  padding: 35px;
}
.play:hover {
  color: #e0e0e0e3;
  transition: 0.2s;
  cursor: pointer;
}

.like {
  color: var(--nw1);
  font-size: 25px;
  margin-top: 3px;
}
.like:hover {
  color: var(--p1);
  transition: 0.2s;
  cursor: pointer;
}
