@import url("colorPallete.css");

@media screen and (min-width: 1px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 0px;
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 481px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 781px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1131px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1481px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 1831px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto auto auto auto auto;
  }
}
@media screen and (min-width: 2181px) {
  .container {
    width: max-content;
    padding: 50px;
    margin: 100px auto;
    background-color: var(--nb3);
    border-radius: 20px;
    text-align: center;
  }
  .content {
    display: grid;
    column-gap: 0;
    margin: 55px 60px;
    grid-template-columns: auto auto auto auto auto auto;
  }
}
.pfp {
  padding-top: 45px;
  display: block;
  height: 150px;
  width: 150px;
  background-color: #272727;
  border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  cursor: pointer;
}
.pfp:hover {
  background-color: #222222;
  transition: 0.2s;
}
.pfp:active {
  background-color: #1a1a1a;
  transition: 0.2s;
}
.pfp-icon {
  font-size: 60px;
  display: block;
  margin: auto;
  color: #383838;
}
.pfp-icon:hover {
  color: #48d5ee69;
  transition: 0.2s;
}
