@import url("colorPallete.css");

.head {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--nb3);
  padding: 10px;
  float: top;
}

.search-icon {
  display: inline-block;
  color: var(--nw1);
  font-size: 25px;
  vertical-align: middle;
  margin-left: 5px;
}
.search-icon:hover {
  cursor: pointer;
  color: var(--nw3);
  transition: 0.3s;
}
@media screen and (min-width: 1px) {
  .search-box {
    background-color: var(--nb2);
    padding: 0px;
    display: none;
    width: 0%;
    border-radius: 20px;
    border: none;
    text-align: left;
    color: white;
  }
}
@media screen and (min-width: 481px) {
  .search-box {
    background-color: var(--nb2);
    padding: 10px;
    display: inline-block;
    width: 30%;
    border-radius: 20px;
    border: none;
    text-align: left;
    color: white;
  }
}

.search-box:focus {
  outline: none;
}
.search-box::placeholder {
  text-align: left;
}

.user-icon {
  color: var(--nw1);
  font-size: 28px;
  text-align: right;
}

.head-btn {
  float: right;
  font-size: 15px;
  margin-top: 0;
  margin-left: 10px;
  text-decoration: none;
  background-color: var(--p1);
  padding: 10px 15px;
  border-radius: 20px;
}

.sign-up-btn {
  background-color: #eec24800;
  color: var(--nw1);
}
.sign-up-btn:hover {
  background-color: #eec24800;
  color: var(--p1);
}

.logo {
  vertical-align: middle;
  margin: 0 10px 0 2.5px;
  font-size: 35px;
  color: var(--nw3);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  color: var(--p1);
  transition: 0.8s;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
