.form {
  text-align: left;
  direction: ltr;
}
input:not([type="submit"], [type="search"]) {
  background-color: #3b3b3b;
  display: inline-block;
  width: 270px;
  height: 27px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}
textarea {
  background-color: #3b3b3b;
  width: 270px;
  height: 80px;
  resize: none;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
