@import url("colorPallete.css");
@media screen and (min-width: 1px) {
  .nav {
    position: fixed;
    display: block;
    float: bottom;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding: 10px;
    background-color: var(--nb3);
    width: 100%;
    height: 60px;
  }
  .nav-icons {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: var(--nw4);
  }
  .nav-btn {
    margin: 0 15px;
    vertical-align: middle;
  }
}
@media screen and (min-width: 481px) {
  .nav {
    position: fixed;
    display: block;
    float: left;
    z-index: 1;
    top: 55px;
    left: 0;
    overflow-x: hidden;
    padding: 20px 10px;
    background-color: var(--nb3);
    width: 60px;
    height: 100vh;
  }
  .nav-icons {
    font-size: 30px;
    color: var(--nw4);
    text-align: center;
  }
  .nav-btn {
    margin: 0;
    margin-bottom: 30px;
  }
}

.nav-btn:hover {
  color: var(--nw2);
  transition: 0.5s;
  cursor: pointer;
}
.logout {
}
