.player {
  position: fixed;
  display: block;
  float: bottom;
  text-align: center;
  bottom: 0;
  overflow-x: hidden;
  padding: 10px;
  background-color: #3d3d3d;
  width: 400px;
  height: 60px;
  margin: 0 0 10px;
}
